@use "config" as *;

@use "components";
@use "pages";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

html,
body,
#root {
  height: 100%;
}

body {
  color: $font-color-dark;
  font-family: "Poppins", sans-serif;
  font-size: $font-size;

  button {
    cursor: pointer;
  }

  textarea {
    font-family: inherit;
  }
}

.admin-layout {
  @include flex($justify: flex-start, $align: flex-start);
  @include default-trasition;
  gap: 6rem;
  background-color: #f5f6fa;
  min-height: 100%;
}
