@use "../config" as *;

.cart {
  width: 60%;
  margin: auto;

  & > div {
    padding: 16px;

    &:nth-child(even) {
      background-color: $light-grey;
    }
  }

  &__item {
    @include flex($justify: flex-start);

    gap: 16px;
  }

  &__extras {
    @include flex($justify: flex-start);

    .plus {
      color: green;
    }

    .minus {
      color: red;
    }
  }

  &__img-container {
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-radius: $border-radius;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .item-quantity {
    @include flex($justify: flex-start);

    margin-left: auto;

    span {
      @include flex;

      width: 2rem;
      position: relative;
      z-index: 10;
    }

    button {
      @include default-trasition;

      height: 40px;
      background-color: #fff;
      border: none;
      width: 60px;

      &:enabled {
        @include glow($yellow-light);
      }

      &:disabled {
        border: 1px solid $light-grey;
        cursor: default;
      }

      &:enabled:hover {
        @include glow($orange-light);

        color: $orange;
        transform: scale(1.1);
      }

      &:first-child {
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
      }

      &:last-child {
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
      }

      img {
        filter: $orange-filter;
        height: 12px;
        width: 12px;
      }
    }
  }
}
