@use "../config" as *;

.cart {
  &__item {
    @include flex($justify: flex-start);
    gap: 16px;
  }

  &__extras {
    @include flex($justify: flex-start);
  }

  .item-quantity {
    @include flex($justify: flex-start);

    span {
      @include flex;
      width: 2rem;
      position: relative;
      z-index: 10;
    }

    button {
      @include glow($yellow-light);
      @include default-trasition;
      height: 24px;
      background-color: #fff;
      border: none;
      width: 24px;

      &:hover {
        @include glow($orange-light);
        color: $orange;
        transform: scale(1.1);
      }

      &:first-child {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
      }

      &:last-child {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
      }

      img {
        filter: $orange-filter;
        height: 12px;
        width: 12px;
      }
    }
  }
}
