/* Resetting styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #424242;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.register {
  display: flex;
  justify-content: center; /* Középre igazítja a formot */
  margin-top: 4rem;
}

.register form {
  background-color: #fff; /* Card background */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  padding: 1.5rem;
  width: 32rem;
  box-shadow: 0 50px 100px rgba(0, 0, 0, 0.1); /* Optional card shadow */
  border-radius: 8px; /* Optional card border radius */
}

.register form > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.register form .input-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.register form input {
  width: 100%;
  padding: 0.8rem;
  padding-left: 3rem; /* Megfelelő távolság az ikonhoz */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.register form input:focus {
  border-color: #f17228; /* Narancssárga szegély fókusz esetén */
  outline: none; /* Ne legyen kék outline */
}

.register form input[type="submit"] {
  background-color: #f17228;
  font-weight: bolder;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.register form input[type="submit"]:hover {
  background-color: #e65d1e;
}

.register form div img {
  position: absolute;
  left: 1rem; /* Az ikon bal oldali távolsága */
  top: 50%;
  transform: translateY(-50%); /* Az ikon középre igazítása vertikálisan */
  width: 1.2rem;
  pointer-events: none; /* Az ikon ne akadályozza az input használatát */
}

/* Az ikon színének beállítása narancssárgára (#f17228) */
.input-container img {
  filter: invert(39%) sepia(94%) saturate(4907%) hue-rotate(3deg);
}

.register form input::placeholder {
  padding-left: 0.5rem; /* A placeholder szöveg távolsága az ikontól */
}

.register form p {
  color: #e76f51; /* Orange-dark */
  font-size: 0.8rem;
}

/* Error message bubble style */
.error-message {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0.5rem;
  background-color: #e76f51;
  color: white;
  font-size: 0.8rem;
  border-radius: 4px;
  width: 100%;
  margin-top: 5px;
  text-align: center;
  visibility: hidden; /* Initially hidden */
}

.input-container.error .error-message {
  visibility: visible; /* Show the error message when the input has error */
}

/* Input padding adjustment on error */
.input-container.error input {
  border-color: #e76f51;
}
