/* Alapértelmezett stílusok */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #424242;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

/* Regisztrációs űrlap központozása */
.register {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

/* Formázás */
.register form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
  padding: 1.5rem;
  width: 32rem;
  box-shadow: 0 50px 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.register form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

/* Input mezők formázása */
.register form .input-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.register form input {
  width: 100%;
  padding: 0.8rem;
  padding-left: 3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.register form input:focus {
  border-color: #f17228;
  outline: none;
}

/* Gomb stílusok */
.register form input[type="submit"] {
  background-color: #f17228;
  font-weight: bolder;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.register form input[type="submit"]:hover {
  background-color: #e65d1e;
}

/* Ikonok elhelyezése */
.register form .input-container img {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(60%);
  width: 1.2rem;
  pointer-events: none;
}

/* Label formázás */
.register form .input-container label {
  margin-bottom: 0.25rem;
  text-align: left;
  width: 100%;
}

/* Az ikon színének beállítása */
.input-container img {
  filter: invert(39%) sepia(94%) saturate(4907%) hue-rotate(3deg);
}

/* Placeholder stílusok */
.register form input::placeholder {
  padding-left: 0rem;
}
