.service-container {
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.service-title {
    color: #e67e22;
    font-size: 2.5em;
    margin-bottom: 70px;
    text-align: center;
}

.service-description {
    color: #7f8c8d;
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: center;
}

.service-list {
    list-style-type: disc;
    padding-left: 40px;
}

.service-list li {
    margin-bottom: 15px;
    color: #34495e;
    font-size: 1.1em;
}
