@use "../config" as *;

.image-dropzone {
  background-color: $light-grey;
  border: 1px dashed $font-color-light;
  border-radius: $button-border-radius;
  color: $font-color-light;
  font-size: $font-size;
  height: 150px;
  padding: 16px;
  text-align: center;
  width: 100%;

  .image-preview {
    border-radius: calc($border-radius / 4);
    height: 100px;
    width: 100px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
