@use "../config" as *;

.sidebar {
  @include flex($direction: column);
  background-color: #fff;
  flex-shrink: 0;
  min-height: 100vh;
  position: sticky;
  width: 250px;
  top: 0;

  img {
    width: 50px;
    filter: $side-bar-icon-filter;

    &:hover {
      filter: $hover-side-bar-icon-filter;
    }
  }

  .selected-img {
    filter: $selected-side-bar-icon-filter;
  }
}
