.nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Példa box-shadow érték */
    width: 100vw;
    height: 78px;
    overflow: hidden;
    padding: 0 16px; /* Példa side-padding érték */
    position: relative;
    z-index: 1;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo img {
    vertical-align: bottom;
    width: 100px;
    margin-right: 0; /* Csökkentsd a jobb oldali helyet */
}

.nav__address {
    display: flex;
    gap: 12px;
}

.nav__address img {
    filter: hue-rotate(90deg); /* Példa yellow-filter érték */
    width: 1rem;
}

.nav__buttons {
    display: flex;
    gap: 24px;
}

.find-food-button,
.action-button {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 10px;
    background-color: #fff;
    border: none;
    color: #333; /* Példa font-color-dark érték */
    font-size: 14px; /* Példa font-size érték */
    font-weight: 700;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}

.find-food-button img,
.action-button img {
    filter: hue-rotate(90deg); /* Példa yellow-filter érték */
    width: 1rem;
}

.find-food-button:hover,
.action-button:hover {
    color: #f39c12; /* Példa yellow érték */
}

.action-button {
    border-radius: 4px; /* Példa button-border-radius érték */
    color: #f39c12; /* Példa yellow érték */
    text-decoration: none;
    box-shadow: 0 0 10px rgba(243, 156, 18, 0.5); /* Példa glow érték */
}

.action-button:hover {
    box-shadow: 0 0 10px rgba(243, 156, 18, 0.7); /* Példa glow érték */
    color: #e67e22; /* Példa orange érték */
    transform: scale(1.1);
}

.action-button:hover img {
    filter: hue-rotate(45deg); /* Példa orange-filter érték */
}

@media (max-width: 480px) {
    .nav {
        padding: 0 16px;
    }

    .nav__logo img {
        width: 80px;
    }

    .nav__address {
        gap: 8px;
    }

    .nav__address p,
    .nav__address .address_name {
        font-size: 10px;
    }

    .nav__buttons {
        flex-direction: column; /* Gombok függőleges elrendezése tablet nézetben */
        gap: 16px;
    }

    .find-food-button,
    .action-button {
        width: 100%;
        justify-content: center;
    }
}
