/* Alap stílusok a .popular-item-container számára */
.popular-item-container {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

/* Alap gombstílus */
.swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 200px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 5; /* Biztosítja, hogy a gombok a galéria fölött legyenek */
}

/* Hover állapot */
.swiper-button:hover {
    background-color: #ff4500;
    transform: translateY(-50%) scale(1.1);
}

/* Aktív állapot */
.swiper-button:active {
    background-color: #cc5500;
    transform: translateY(-50%) scale(1.05);
}

/* Bal oldali (Előző) gomb */
.swiper-button.prev {
    left: -25px;
    transform: translate(-50%, -50%);/* Függetlenül középre igazít */
}

/* Jobb oldali (Következő) gomb */
.swiper-button.next {
    right: 0;
    transform: translate(50%, -50%);
}

/* Reszponzív mód kisebb képernyőkre */
@media (max-width: 768px) {
    .swiper-button {
        padding: 10px 20px;
        font-size: 16px;
    }

    .swiper-button.prev {
        left: 10px;
        transform: translate(0, -50%);
    }

    .swiper-button.next {
        right: 10px;
        transform: translate(0, -50%);
    }
}

/* Reszponzív h1 stílus */
h1 {
    text-align: center;
    padding: 20px;
    font-size: 3vw;  /* Nagy képernyők esetén */    
    margin: 0;
}

/* Kisebb képernyők esetén csökkentett font-size */
@media (max-width: 480px) {
    h1 {
        font-size: 8vw;  /* Nagyon kicsi képernyők esetén */
    }
}
